<!-- The content in this file is inserted into the base.html file -->
<footer class="footer-a">
    <div class="container">
        <div class="footer-col">
            <h4>Acknowledgement of Country</h4>
            <p>I acknowledge the Ngunnawal people, the custodians of the land on which we meet. I pay my respects to Aboriginal Elders past, present and emerging 
                and value their cultures, identities, and continuing connection to country, water, kin and community. Sovereignty was never ceded; this always was, 
                always will be, Aboriginal land.
            </p>
        </div>
    </div>
</footer>
<footer class="footer-b">
    <div class="container">
        <div class="footer-col">
            <h4>Socials</h4>
            <div class="social-links"> 
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>