<!-- This content is inserted into the base.html file -->

<title>Beth Jones</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/styles.css' | url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- you could add favicons etc here -->