body {
    font-size: 16px;
    background-color: #ffffff;
}

ul { 
    list-style-type: disc; 
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
} 

ul li { 
    margin-left: 2em; 
    margin-bottom: .5em
}


h1 {
    font-size: 3em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5em;
    color: #664A32;
    text-decoration: underline #6db784;
} 

h2 {
    font-size: 1.6em;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5em;
    color: #664A32;
}

h3 {
    font-size: 1.4em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

h4 {
    font-size: 1.4em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

.inner-wrapper {
    width: 60%;
    margin: 0 auto;
}

header,
footer {
    background-color: #6bcfb9;
    padding: 2em 0;
}

header {
    padding: 6em 0;
}

.hero {
    text-align: center;
    background: #f9e45b;
    min-height: 5em;
    padding: 1em;
    margin: 1em 0;
    /* vertically align */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.hero h2 {
    font-size: 3em;
    margin: none;
}

.hero h4 {
    font-size: 2em;
}

.main-content h3 {
    margin: 2em auto;
    text-align: center;
}


main {
    margin-bottom: 5em;
} 

img {
    max-width: 100%;
}

.profileimg {
    border-radius: 50%; /*this only works if the css recognises the image as a background img*/
    width: 300px;
    height:300px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/profileimg.JPG);
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.titles {
    text-align: center;
}

/* qualities start */

.row {
    margin: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3em;
}

.quality {
    flex:  20%;
    padding: 1em;
}

.quality h2 {
    text-align: center;
    margin-bottom: .5em;
}


/* qualities end */

/* endev start */

.row.endev {
    background-color: #6bcfb9;
}

.twocol {
    flex: 45%;
    padding: 1.5em;
}

.twocol h1 {
    margin: 0 auto;
    text-align: center;
}

.twocol ul {
    background-color: #f9e45b;
    width: 90%;
    margin: 0 auto;
    border-radius: 0.313em;
    padding: 1em;
}

.twocol img {
    width: 50%;
    display: block;
    margin: auto; 
}

.newrow {
    flex: 100%;
}

/* endev start */

/* work experience start */

.card {
    width: 60%;
    margin: 3em auto;
    border-radius: 0.313em;
    border: solid #6db784;
    padding: 2em;
}

/* work experience start */

/* image portfolio start */

.portfolio-row {
    width: 75%;
    margin: 0 auto;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-row .portfolio .item {
    flex: 45%;
    padding: 1em;
}

.item {
    margin: 3em;
    max-width: 30em;
}

.item h2 {
    text-align: center;
    margin: 1em;
}

/*image portfolio end */

/*footer start */


.container{ 
    padding: 0 1em;
}

.footer-col{
    padding: 0 3em;
    line-height: 1.5em;
}

.footer-col h4{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    color: #664A32;
    margin-bottom: 1em;
    font-weight: 500;
    text-decoration: underline #f9e45b;
    text-align: center;
}

.footer-col p {
    font-family: 'Varela', sans-serif;
    color: #664A32;
    text-align: center;
}


.footer-col .social-links a /*this affects the social media icons*/{ 
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    background-color: #f9e45b;
    color: #664A32;
    margin: 0em 1em 1.5em 0em;
    text-align: center; /*to line up the icons in the circle*/
    line-height: 2.5em;
    border-radius: 50%; /*makes it a circle*/
}

.footer-col .social-links a:hover {
    color: #f9e45b;
    background-color: #664A32;
}

.footer-col .social-links {
    margin: 0 auto; /*This doesn't work either..... I cannot fathom how to get the social links to sit in the middle ARGH*/
}

/*footer end */

@media (max-width: 134.5625em) {
    .twocol img {
        margin-top: 3em;
        margin-bottom: 3em; 
    }
}

@media (max-width: 117.1875em) {
    .twocol img {
        margin-top: 4em;
        margin-bottom: 4em; 
    }
}

@media (max-width: 101.5625em) {
    .portfolio-row .portfolio .item {
        flex: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 71.125em) {
    .quality {
        flex:  100%;
    }
}