body {
    font-size: 16px;
    background-color: #ffffff;
}

ul { 
    list-style-type: disc; 
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
} 

ul li { 
    margin-left: 2em; 
    margin-bottom: .5em
}


h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    margin: 1em 0 1.5em 0;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5em;
    color: #664A32;
} 

h2 {
    font-size: 1.6em;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5em;
    color: #664A32;
}

h3 {
    font-size: 1.4em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

h4 {
    font-size: 1.4em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Varela', sans-serif;
    line-height: 1.5em;
    color: #664A32;
}

.inner-wrapper {
    width: 60%;
    margin: 0 auto;
}

header,
footer {
    background-color: #6bcfb9;
    padding: 2em 0;
}

header {
    padding: 6em 0;
}

.hero {
    text-align: center;
    background: #f9e45b;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}


main {
    margin-bottom: 2em;
} 

.main-content p {
    background: blue; 
}

img {
    max-width: 100%;
}

.profileimg {
    border-radius: 50%; /*this only works if the css recognises the image as a background img*/
    width: 300px;
    height:300px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/profileimg.JPG);
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.titles {
    text-align: center;
}

.row {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2em;
}

.row.endev {
    background-color: #B4DFE5;
}

.quality {
    flex:  32%;
}

.twocol {
    flex: 45%;
}

.newrow {
    flex: 100%;
}

.card {
    width: 40%;
    margin: 0 auto;
    background: #9c0;
}

.portfolio-row {
    
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-row .portfolio .item {
    flex: 45%;
    padding: 1em;
}


.container{ 
    padding: 1em;
}

.footer-col{
    padding: 0 15px;
    line-height: 1.5em;
}

.footer-col h4{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    color: #664A32;
    margin-bottom: 1em;
    font-weight: 500;
}

.footer-col p {
    font-family: 'Varela', sans-serif;
    color: #664A32;
    margin-bottom: 1em;
}

.footer-col .social-links a /*this affects the social media icons*/{ 
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    background-color: #f9e45b;
    color: #664A32;
    margin: 0em 1em 1.5em 0em;
    text-align: center;
    line-height: 2.5em;
    border-radius: 50%; /*makes it a circle*/
}

.footer-col .social-links a:hover {
    color: #f9e45b;
    background-color: #664A32;
}
