---
layout: base
---

<!--this is where we create our divs/add content-->
<div class="inner-wrapper">
<div class="profileimg">
    
</div>

<div class="hero">
    <h2>{{hero.title }}</h2>
    <h4>{{hero.subtitle}}</h4>
</div>

<div class="main-content">
    <!-- intro blurb only in markdown file -->
    {{ content }}
</div>

</div>

<div class="titles">
    <h2><span style="background-color: #6db784">Qualities</span></h2>
</div>

<div class="row">
    <div class="quality">
        <h2>DRIVEN</h2>
        <ul>
            <li>No matter the task, I am determined to complete it to the best of my ability. I am always striving to go beyond expectations and acquire new skills. If you need help, I’ll be the first to lend a hand. </li>
            <li>If I’m ever unsure about something, I follow it up. I’ll ask questions and research beyond work hours to complete my duties with reason and ensure I never default to ‘just because’.</li>
        </ul>
    </div>

    <div class="quality">
        <h2>CONVERSATIONALIST</h2>
        <ul>
            <li>If there’s one thing I love to do above anything else, it’s socialise. I am incredibly extraverted and will often spark up conversation with enough enthusiasm to power a lightbulb. I flourish working among people.</li>
        </ul>
    </div>

    <div class="quality">
        <h2>CREATOR</h2>
        <ul>
            <li>I’m quite the tinker. Most of my skills lie in the creative arts. I’ve painted murals, created advertising, crafted brooches, donated artworks and, most impressively, knitted a sweater.</li>
            <li>I’ve also dabbled in carpentry, interior design, and sewing. I’m blessed with itchy hands and a brain bursting with ideas, so I figure why not use them!</li>
        </ul>
    </div>
</div>

<div class="row endev">
    <div class="twocol"> <!--image for recent endevs-->
        <img src="assets/images/trophy.png" >
    </div>

    <div class="twocol"> <!--text for recent endevs-->
        <h2><span style="background-color: #6db784">Recent Endeavors</span></h2>
        <ul>
            <li>March 2022 – Painted a mural for Revelation Puzzle Rooms</li>
            <li>November 2021 to January 2022 – Painted a mural for headspace Canberra</li>
            <li>November 2021 to December 2021 – Facilitated dogspace on a weekly basis in collaboration with Delta Dogs at headspace Canberra</li>
            <li>December 2021 – Volunteered as a member of BitBent to pack Christmas Hampers for Capital Region Community Services (CRCS)</li>
            <li>December 2021 – Volunteered at the Geek Markets at Exhibition Park (in Canberra)</li>
            <li>June 2021 – Designed the box art for Kickstarter board game, Vanished.</li>
            <li>May 2021 – Organised and facilitated a movie night event at the Belconnen Youth Centre on behalf of headspace Canberra</li>
            <li>May 2021 – Completed first teaching placement at Canberra Girls Grammar Senior School</li>
            <li>May 2021 – Volunteered at the Geek Markets at Exhibition Park (in Canberra)</li>
        </ul>
    </div>

</div>

<div class="newrow wex">
    <div class="titles">
        <h2><span style="background-color: #6db784">Work Experience</span></h2>
    </div>
    <div class="card">
        <h3>CANTEEN ASSISTANT | MACGREGOR PRIMARY SCHOOL | MARCH 2022 – CURRENT</h3>
        <h4>Duties</h4>
            <ul>
                <li>Prep lunch orders for packing (e.g., organising change, cutlery and condiments)</li>
                <li>Assist in food prep and packaging</li>
                <li>Ensure hygiene and COVID-19 practices are implemented and followed 
                    (e.g., taking class orders instead of have individual children order over the counter, 
                    washing hands between tasks such as handling money and washing dishes and adhering to 
                    colour-coded systems for food prep and clean up) </li>
            </ul>
        <h4>Summary</h4>
        <p>In response to an increasing number of lunch orders, I offered to assist the canteen during peak periods. 
            My work with them has greatly informed my hygiene practices and has increased my ability to accomplish tasks quickly and efficiently.</p>
    </div>

    <div class="card">
        <h3>OUT OF SCHOOL HOURS CARE | MACGREGOR PRIMARY SCHOOL | FEBURARY 2022 – CURRENT</h3>
        <h4>Duties</h4>
            <ul>
                <li>Supervise and facilitate learning activities</li>
                <li>Observe and document meaningful moments with children and draw from these observations to inform learning activities</li>
                <li>Collaborate with educators to create activities that respond to the children’s learning goals</li>
                <li>Provide healthy snacks that align with The National Healthy School Canteen Guidelines</li>
                <li>Ensure current COVID-19 policies are implemented and followed (e.g., separating cohorts to limit contact, ensuring indoor 
                    spaces are well ventilated for indoor activities and serving children food with gloves and tongs)</li>
            </ul>
        <h4>Summary</h4>
        <p>My work with the Out of School Hours Care (OSHC) at Macgregor Primary School is incredibly rewarding. It’s wonderful to be able to work closely 
            with children from Preschool to Year 6 and speak to them about their wants and needs to inform my practice as an educator. Although my time with 
            them has been brief thus far, I have improved my skills managing diverse groups of children and resolving conflicts when they arise. I have grown 
            a deep appreciation for the care each of the educators hold for the children and the flexibility the program offers to cater to the children’s 
            learning goals when brainstorming activities for the coming week.</p>
    </div>

    <div class="card">
        <h3>YOUTH ADVOCATE | HEADSPACE CANBERRA | FEBURARY 2017 – CURRENT</h3>
        <h4>Duties</h4>
            <ul>
                <li>Assist in the planning and organisation of events and workshops aimed at youth aged 12-25.</li>
                <li>Attend regular meetings to reflect on past endeavors and discuss future projects.</li>
                <li>Represent headspace Canberra at functions including school events, festivals and exhibitions.</li>
            </ul>
        <h4>Summary</h4>
        <p>Since 2017, I’ve been a member of the Youth Reference Group (YRG) at headspace Canberra. This group aims to spread awareness of mental illness and 
            promote positive wellbeing by representing and engaging with Canberra’s youth. As a member, I have facilitated youth-led events and workshops, 
            spoken to leaders of other organisations regarding youth (such as Women with Disabilities Australia), represented headspace at functions and aided 
            headspace in maintaining relevance by joining interview panels, reviewing the website design and contributing to headspace Canberra’s interior design.</p>
        <p>As of 2022, my role at headspace Canberra has changed. I have been accepted into the Youth Ambassadors Program (YAP) which will grant me the opportunity 
            to engage and develop programs for youth with diverse backgrounds that stem far beyond my limited and privileged perspective. Some of these opportunities 
            include working with Aboriginal, homeless and refugee youth. My hope by joining the YAP is to broaden my perspective and knowledge so that I may someday 
            become an educator who can provide an inspired and inclusive education for all young people no matter their story. </p>
    </div>

</div>

<div class="titles">
    <h2><span style="background-color: #6db784">Portfolio</span></h2>
</div>
<div class="portfolio-row">
    <div class="portfolio">
        <div class="item">
            <img src="assets/images/headspace-mural.JPG" >
            <p>Mural for the Volunteer Room for headspace Canberra</p>
        </div>
        <div class="item">
            <img src="assets/images/revelation-mural.JPG" >
            <p>Mural for the Photo Wall at Revelation Puzzle Rooms</p>
        </div>
    </div>
    <div class="portfolio">
        <div class="item">
            <img src="assets/images/lulz.JPG" >
            <p>Digital Art of DND Character</p>
        </div>
        <div class="item">
            <img src="assets/images/doomsday.png" >
            <p>Doomsday Advertisement for Revelation Puzzle Rooms</p>
        </div>
    </div>
    <div class="portfolio">
        <div class="item">
            <img src="assets/images/rosella-mural.jpg" >
            <p>Mural Commission of Eastern Rosellas</p>
        </div>
        <div class="item">
            <img src="assets/images/watercolours.JPG" >
            <p>Watercolour Commissions</p>
        </div>
    </div>
</div>
