body {
    font-size: 16px;
    background-color: #FBE8A6;
    font-family: 'Quicksand', sans-serif;
}

ul { 
    list-style-type: disc; 
} 

ul li { 
    margin-left: 2em; 
    margin-bottom: .5em
}


h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    margin: 1em 0 1.5em 0;
    font-family: 'EB Garamond', serif;
} 

h2 {
    font-size: 1.6em;
    font-family: 'EB Garamond', serif;
}

h3 {
    font-size: 1.4em;
    font-family: 'EB Garamond', serif;
}

h4 {
    font-size: 1.4em;
    font-family: 'EB Garamond', serif;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 60%;
    margin: 0 auto;
}

header,
footer {
    background-color: #303C6C;
    padding: 2em 0;
}

header {
    padding: 6em 0;
}

.hero {
    text-align: center;
    background: #F4976C;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}


main {
    margin-bottom: 2em;
} 

.main-content p {
    background: blue; 
}

img {
    max-width: 100%;
}

.profileimg {
    border-radius: 50%; /*this only works if the css recognises the image as a background img*/
    width: 300px;
    height:300px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/profileimg.JPG);
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.titles {
    text-align: center;
}

.row {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2em;
}

.row.endev {
    background-color: #B4DFE5;
}

.quality {
    flex:  32%;
}

.twocol {
    flex: 45%;
}

.newrow {
    flex: 100%;
}

.card {
    width: 40%;
    margin: 0 auto;
    background: #9c0;
}

.portfolio-row {
    
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-row .portfolio .item {
    flex: 45%;
    padding: 1em;
}